nav {
  background-color: rgb(231, 226, 226);
}

nav ul {
  list-style: none;
  padding: 0%;
}

nav a {
  text-decoration: none;
  color: rgb(38, 135, 220);
  display: block;
  padding: 10px;
}

nav a:hover {
  background-color: beige;
}

@media screen  and (min-width: 768px){
  nav ul {
    display: flex;
  }

  nav li {
    flex: 1 1 0;
  }
}