.title {
text-align: center;
font-size: x-large;
}

.container {
  width: 200px;
  height: 200px;
  border: 2px;
  margin: 5px;
  border-radius: 10px;
  background-color: hsla(120, 0%, 50%, .6);
  border: inset white;
  padding: 2px;
  position:relative;
}

.header {
  color: white;
  text-align: center;
  padding: 2px;
  border: 1px;
  border-radius: 10px;
 
}

.grid-container {
  display: flex;
  flex-flow: row wrap;
  background-color: hsla(210, 100%, 50%, .8);
  border: solid black;
  justify-content: center;
  /* position:absolute; */
  align-items: center;
}